@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Spline+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "spline sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color: #F58d17
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .nav-link {
    font-size: large;
}

/* button */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #F58d17;
    background-color: #F58d17;

}

.btn-brand:hover {
    border-color: #d37810;
    background-color: #d37810;
    color: #fff;
}

/* intro-text */
.intro-text {
    text-align: center;
    margin-top: 10px;
    
}

/*table*/
.table {
    padding: 45px;
}

.table_box {
    padding: 30px;
    margin: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e0e0e0;
}

.product-image {
    max-width: 100px;
}

/* footer */

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/blog\ logo.jpeg);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);
}

footer img {
    max-width: 100px;
}

footer .social-links a {
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {

    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.col-lg-4 p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}