<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="cssfiles/signup.css">
</head>
<body>
    <form>
        <h1>SignUp</h1>

        <input type="text" name="name" id="name" placeholder="Username" required>
        <input type="text" name="email" id="email" placeholder="Email"required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <input type="password" id="Confpassword" name="confirmpassword" placeholder="Confirm Password" required>
       <button type="submit" class="btn" onclick="doSignup()">SignUp</button>
        
        
    </form>
    <script src="/script.js"></script>
</body>
</html>